**/.DS_Store

# claude
.claude/*
!.claude/README.md
.claude/settings.local.json

# zsh
home/.config/zsh/.zprofile
home/.config/zsh/.zcompdump*
home/.config/zsh/.zsh_history
home/.config/zsh/.zsh_sessions/

# vim
.config/vim/.netrwhist
.config/nvim/lazy-lock.json
