**/.DS_Store

# claude (settings.local.json以外は無視)
.claude/*
!.claude/settings.local.json

# zsh
home/.config/zsh/.zprofile
home/.config/zsh/.zcompdump*
home/.config/zsh/.zsh_history
home/.config/zsh/.zsh_sessions/

# vim
.config/vim/.netrwhist
